# General
ENVIRONMENT=development
FRONTEND_URL=http://localhost:3000

# PostgreSQL
PG_URL=

# Redis
REDIS_URL=redis://localhost:6379

# Session
SESSION_SECRET=

# Email service
EMAIL_USER=
EMAIL_PASSWORD=
